.App {
  text-align: center;
}

.footer {
  /* bottom: 0; */
  padding: 50px;
  /* position: fixed; */
  text-align: center;
}

.book-card-quote {
  padding: "10px 0px 0px 0px";
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
          line-clamp: 8;
  -webkit-box-orient: vertical;
}